<div class="section section-4 secondary-color" id="serviceDetails">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center mb-5">
      <div class="col-lg-6">
        <h2 class="font-weight-bold heading text-primary mb-4">
          {{service.name}}
        </h2>
      </div>
    </div>
    <div class="row justify-content-between mb-5">
      <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
        <p class="text-black-50">
          {{service.description}}
        </p>
      </div>
    </div>
  </div>
</div>
