<div *ngIf="property" class="section section-4 secondary-color" id="propertyDetails">
  <div class="container">
<!--    photos-->
    <div class="row justify-content-center align-items-center text-center mb-5">
      <div class="col-lg-1 pagination-button">
        <button
          class="primary-color"
          type="button"
          (click)='move(-1)'
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <div class="col-lg-8">
        <div class="img-about">
          <ng-container *ngIf="this.property.videoLink">
            <iframe width="600" height="400"
                    [src]="this.property.videoLink | safe"
                    class="carousel-item imageIcons img-fluid"
                    [class.active]="isActive(-1)">
            </iframe>
          </ng-container>
          <img class="carousel-item imageIcons img-fluid"
               *ngFor="let photo of property.photos; let index = index"
               [class.active]="isActive(index)" [src]="getPath(photo.photo)">
        </div>
      </div>
      <div class="col-lg-1 pagination-button">
        <button
          class="primary-color"
          type="button"
          (click)='move(1)'
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
<!--    name-->
    <div class="col-lg-12">
      <div class="row justify-content-start mb-2">
        <h3 class="font-weight-bold heading text-primary">
          {{property.name}}
        </h3>
        <h5 class="mb-3">{{property.address.city}}, {{property.address.country}}</h5>
        <h3 class="font-weight-bold">
          {{property.price}}
        </h3>
        <div class="row justify-content-start">
          <div class="col-1">
            <a><img src="assets/resources/images/area.png" class="icon"></a>
            <h6>{{property.area}}</h6>
          </div>
          <div class="col-1">
            <img src="assets/resources/images/room.png" class="icon">
            <h6>{{property.numberOfRooms}} rooms</h6>
          </div>
          <div class="col-1">
            <a><img src="assets/resources/images/furniture.png" class="icon"></a>
            <h6>{{property.furnished}}</h6>
          </div>
        </div>
      </div>
    </div>
    <hr>
<!--    description-->
    <div class="row justify-content-between mb-2">
      <div class="col-lg-12">
        <h3>Description</h3>
        <p class="text-black-50">
          {{property.description}}
        </p>
      </div>
    </div>
    <hr>
    <div class="features">
      <h3>Transfer</h3>
      <dl class="listing">
        <dt class="term">Price</dt>
        <dd class="definition">{{property.price}}</dd>
        <dt class="term">Price</dt>
        <dd class="definition">{{property.price}}</dd>
        <dt class="term">Price</dt>
        <dd class="definition">{{property.price}}</dd>
      </dl>
    </div>
  </div>
</div>
