<div *ngIf="property" class="section section-4 secondary-color" id="propertyDetails">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center mb-5">
      <div class="col-lg-2 pagination-button">
        <button
          class="primary-color"
          type="button"
          (click)='move(-1)'
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-bold heading text-primary mb-4">
          {{property.name}}
        </h2>
        <div class="img-about">
          <ng-container *ngIf="this.property.videoLink">
            <iframe width="600" height="400"
                    [src]="this.property.videoLink | safe"
                    [class.active]="this.current === 0">
            </iframe>
          </ng-container>
          <img class="carousel-item imageIcons img-fluid"
               *ngFor="let photo of property.photos; let index = index"
               [class.active]="isActive(index)" [src]="getPath(photo.photo)">
        </div>
      </div>
      <div class="col-lg-2 pagination-button">
        <button
          class="primary-color"
          type="button"
          (click)='move(1)'
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="row justify-content-between mb-5">
      <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
        <p class="text-black-50">
          {{property.description}}
        </p>
      </div>
      <div class="col-lg-4">
        <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
          <div class="feature-text">
            <h3 class="heading">Address</h3>
            <p class="text-black-50">
              {{property.address.street}}
            </p>
          </div>
        </div>

        <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
          <div class="feature-text">
            <h3 class="heading">Date of Availability</h3>
            <p class="text-black-50">
              {{property.dateOfAvailability}}
            </p>
          </div>
        </div>

        <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
          <div class="feature-text">
            <h3 class="heading">Price:</h3>
            <p class="text-black-50">
              {{property.price}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="row section-counter mt-5">-->
    <!--      <div-->
    <!--        class="col-6 col-sm-6 col-md-6 col-lg-3"-->
    <!--        data-aos="fade-up"-->
    <!--        data-aos-delay="300"-->
    <!--      >-->
    <!--        <div class="counter-wrap mb-5 mb-lg-0">-->
    <!--              <span class="number"-->
    <!--              ><span class="countup text-primary">3298</span></span-->
    <!--              >-->
    <!--          <span class="caption text-black-50"># of Buy Properties</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div-->
    <!--        class="col-6 col-sm-6 col-md-6 col-lg-3"-->
    <!--        data-aos="fade-up"-->
    <!--        data-aos-delay="400"-->
    <!--      >-->
    <!--        <div class="counter-wrap mb-5 mb-lg-0">-->
    <!--              <span class="number"-->
    <!--              ><span class="countup text-primary">2181</span></span-->
    <!--              >-->
    <!--          <span class="caption text-black-50"># of Sell Properties</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div-->
    <!--        class="col-6 col-sm-6 col-md-6 col-lg-3"-->
    <!--        data-aos="fade-up"-->
    <!--        data-aos-delay="500"-->
    <!--      >-->
    <!--        <div class="counter-wrap mb-5 mb-lg-0">-->
    <!--              <span class="number"-->
    <!--              ><span class="countup text-primary">9316</span></span-->
    <!--              >-->
    <!--          <span class="caption text-black-50"># of All Properties</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div-->
    <!--        class="col-6 col-sm-6 col-md-6 col-lg-3"-->
    <!--        data-aos="fade-up"-->
    <!--        data-aos-delay="600"-->
    <!--      >-->
    <!--        <div class="counter-wrap mb-5 mb-lg-0">-->
    <!--              <span class="number"-->
    <!--              ><span class="countup text-primary">7191</span></span-->
    <!--              >-->
    <!--          <span class="caption text-black-50"># of Agents</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
