.properties {
  display: flex;
  flex-wrap: wrap;
}

.property-card {
  flex-grow: 1;
  flex-basis: 16%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: medium solid #005555;
  margin: 2%;
  border-radius: 20px;
}

.property-image .img {
  max-width: 100%;
}

.property-info {
  margin-top: auto;
}

.inner-card {
  padding: 10%;
  color: black;
  text-decoration: none
}

.property-image:hover{
  filter: grayscale(50%);
  opacity: 0.50;
}

.property-image:hover .property-image:not(:hover)::after {
  background-color: rgba(#000, 0.5);
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}
