<div class="hero primary-color">
  <div class="container bg-light">
    <section class="properties">
      <div class="property-card" *ngFor="let property of properties | async">
        <a
          [routerLink]="'/property/' + property.id" class="inner-card">
          <div class="property-image">
            <img class="imageIcons" [src]="getPath(property.photos[0]?.photo)" alt="Property Image">
          </div>
          <div class="property-info">
            <h5>{{property.name}}</h5>
            <h6>${{property.price}}</h6>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>


<!--<div class="row justify-content-center align-items-center">-->
<!--  <div class="radio-btns" role="radiogroup">-->
<!--    <div class="radio-btns__btn" role="radio" aria-checked="false" tabindex="-1" aria-label="Select image" *ngFor="let property of properties | async">-->
<!--      <a [routerLink]="'/property/' + property.id" style="overflow: auto">-->
<!--        <img class="imageIcons" [src]="getPath(property.photos[0]?.photo)" alt="Property Image">-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
