<div class="dark-color properties-body">
  <section class="dark dark-color">
    <div class="container py-4" infinite-scroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="500"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
      <h1 class="h1 text-center" id="header">All Properties</h1>
      <article *ngFor="let property of properties; let i = index"
               [class]="'postcard dark ' + getClass(i)">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" [src]="getPath(property.photos[0]?.photo)"
               alt="{{property.name}}"/>
        </a>
        <div class="postcard__text">
          <h1 [class]="'postcard__title ' + getClass(i)"><a
            (click)='redirect("/property/" + property.id)'>{{property.name}}</a></h1>
          <div class="postcard__subtitle small">
            <time>
              <i class="fas fa-calendar-alt mr-2"></i>{{property.dateOfAvailability}}
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{property.description}}</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>From {{property.agentName}}</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{property.numberOfRooms}} rooms
            </li>
            <li [class]="'tag__item play ' + getClass(i)">
              <a (click)='redirect("/property/" + property.id)'><i
                class="fas fa-play mr-2"></i>Details</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>
</div>

